button {
  border: none;
}

.feedback-form {
  margin: auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 256px;
}
.form-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-input {
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form-comment {
  resize: none;
  height: 80px;
}

.form-input:focus-within {
  border: 1px solid black;
}

.form-btn {
  border-radius: 8px;
  padding: 8px 16px;
  margin-top: 8px;
  width: 120px;
  height: 40px;
  background-color: #4e75ff;

  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.form-btn:hover,
.form-btn:focus {
  background-color: #6c8cff;
}
